*{
    margin: 0%;
    padding: 0%;
    text-align: center;
    /* width: 100%; */
}
h1{
    background-color: #1679AB;
    color: black;
    height: 4rem;
    line-height: 4rem;
}
.choose{
    height: 165px;
    width: 165px;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
.choose:hover{
    cursor: pointer;
    background-color: rgb(202, 69, 2);
    

}
img{
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  
     
}
.choice{
    display: flex;
    justify-content: center;
   align-items: center;
   gap: 45px;
   margin-top: 45px;
}
.score-board{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.score{
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}
#user-scr,#comp-scr{
    font-size: 4rem;
}
.msg{
    
    margin-top:50px ;
}
#play{
    font-size: 50px;
    font-weight: bold;
    background-color:#102C57 ;
    color: aliceblue;
 
    display: inline;
    border-radius: 5px;
    padding: 1rem;
}
